<form [formGroup]="newForm" (ngSubmit)="create()">
  <label class="form-field">
    <mat-form-field>
    <mat-label>IDEE</mat-label>
    <input formControlName="idee" matInput/>
    <small
      *ngIf="
        newForm.get('idee')?.dirty && newForm.get('idee')?.hasError('required')
      "
      class="form-field-hint"
      >Please insert an idee.</small
    >
  </mat-form-field>
  </label>
  <div class="form-actions">
    <button  mat-button color="primary" class="example-ripple-container mat-elevation-z4" type="submit" [disabled]="newForm.invalid">Save</button>
  </div>
</form>
